# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

*.md

